<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- Pie Chart -->
      <highcharts-chart
              [Highcharts]="Highcharts"
              [options]="chartOptions"
              style="width: 100%; height: 400px; display: block;">
      </highcharts-chart>
    </div>
    <div class="col-md-6">
      <!-- Flashcard Information -->
      <h3>Flashcard Statistics</h3>
      <p>Total Flashcards: {{ totalFlashcards }}</p>
      <p>Known Flashcards: {{ knownFlashcards }}</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <!-- Button to Create Flashcard -->
      <button class="btn btn-primary" routerLink="/create-flashcard">Create Flashcard</button>
      <button class="btn btn-success mx-1" routerLink="/manage-flashcards">Manage Flashcards</button>
    </div>
  </div>
</div>
